.ft-click-to-copy-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .ft-click-to-copy {
    cursor: pointer;
    display: inline-block;
    font: {
      size: 0.8rem;
      weight: 400;
    }
    margin: {
      left: auto;
      right: 0.75rem;
    }
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: opacity 0.3s;

    &.visible {
      opacity: 1;
      pointer-events: initial;
    }

    .ft-copy-icon {
      display: inline-block;
      margin-left: 0.35rem;
    }
  }
}
