// Classes are defined in FtLanguageTab.js
// Indicates that the content of an associated field has changed since page load

*[data-ft-initialized] {
  .langTabs {
    li {
      a {
        border-top: var(--ft-inputfield-state-default-border);
        transition: border-top 0.3s;

        &.ft-content-changed {
          font-style: italic;
          border-top: var(--ft-inputfield-state-modified-border);
        }
      }
    }
  }
}

#ProcessPageEditSettings *[data-ft-initialized] {
  .LanguageSupport {
    border-left: var(--ft-inputfield-state-default-border);
    padding-left: 1rem;
    transition: border-left 0.3s;

    &.ft-content-changed {
      border-left: var(--ft-inputfield-state-modified-border);
    }
  }
}
