/* Single language translation field label/button */
.ft-translate-button-container,
.ft-translation-status-container {
  display: inline-block;
  margin-top: 1rem;
  position: relative;

  .ft-icon {
    color: var(--ft-inputfield-translate-icon-color);
    display: inline-block;
    margin-right: 0.3rem;
  }

  .ft-translation-status,
  .ft-translate-button {
    cursor: default;
    font-weight: normal;
    font-size: 0.9rem;
  }

  .ft-translation-status {
    color: var(--ft-inputfield-translate-status-color);
    letter-spacing: 0.01rem;
    font-style: italic;
  }

  .ft-translate-button {
    cursor: pointer;
  }
}

.ft-translate-button-container + .ft-translation-status-container,
.ft-translation-status-container + .ft-translation-status-container {
  display: none;
}

.ft-translate-button-container + .ft-translate-button-container {
  --horizontal-spacing: 0.5rem;

  margin-left: var(--horizontal-spacing);
  padding-left: var(--horizontal-spacing);

  &::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    background-color: var(--ft-secondary-translate-button-container-border);
  }

  .ft-icon {
    display: none;
  }
}

.InputfieldPageName {
  .ft-translate-button-container,
  .ft-translation-status-container {
    display: block;
  }
}
