.ft-element-tag {
  bottom: 0.35rem;
  left: 0.35rem;
  background-color: #ffcc00;
  border-radius: 3px;
  color: #000000;
  display: inline;
  font-size: 0.8rem;
  opacity: 0.65;
  padding: 0.25rem 0.5rem;
  position: relative;
}
